In [34]:
import pandas as pd

In [45]:
csv_path = './csv/200-csv'
tagged_path = './tagged'

In [46]:
pd.read_csv(csv_path + '/1.csv')

,Year,Title,Role,Notes
0,1995,Polio Water,Diane,Short film
1,1996,New York Crossing,Drummond,Television film
2,1997,Lawn Dogs,Devon Stockard,NaN
3,1999,Pups,Rocky,NaN
4,1999,Notting Hill,12-Year-Old Actress,NaN
5,1999,The Sixth Sense,Kyra Collins,NaN
6,2000,Paranoid,Theresa,NaN
7,2000,Skipped Parts,Maurey Pierce,NaN
8,2000,Frankie & Hazel,Francesca 'Frankie' Humphries,Television film
9,2001,Lost and Delirious,Mary 'Mouse' Bedford,NaN
10,2001,Julie Johnson,Lisa Johnson,NaN
11,2001,Tart,Grace Bailey,NaN
12,2002,A Ring of Endless Light,Vicky Austin,Television film
13,2003,Octane,Natasha 'Nat' Wilson,NaN
14,2006,The Oh in Ohio,Kristen Taylor,NaN
15,2007,Closing the Ring,Young Ethel Ann,NaN
16,2007,St Trinian's,JJ French,NaN
17,2007,Virgin Territory,Pampinea,NaN
18,2008,Assassination of a High School President,Francesca Fachini,NaN
19,2009,Walled In,Sam Walczak,NaN
20,2009,Homecoming,Shelby Mercer,NaN
21,2010,Don't Fade Away,Kat,NaN
22,2011,You and I,Lana,NaN
23,2012,Into the Dark,Sophia Monet,NaN
24,2012,Ben Banks,Amy,NaN
25,2012,Apartment 1303 3D,Lara Slate,NaN
26,2012,Cyberstalker,Aiden Ashley,Television film
27,2013,Bhopal: A Prayer for Rain,Eva Gascon,NaN
28,2013,A Resurrection,Jessie,Also producer
29,2013,L.A. Slasher,The Actress,NaN
30,2013,Gutsy Frog,Ms. Monica,Television film

In [47]:
pd.read_csv(tagged_path + '/200-tagged/1.tagged', sep='\t')

,row,col,id,content,tokens,lemmaTokens,posTags,nerTags,nerValues,number,date,num2,list,listId
0,-1,0,fb:row.row.year,Year,year,year,NN,DURATION,NaN,NaN,NaN,NaN,NaN,NaN
1,-1,1,fb:row.row.title,Title,title,title,NN,O,NaN,NaN,NaN,NaN,NaN,NaN
2,-1,2,fb:row.row.role,Role,role,role,NN,O,NaN,NaN,NaN,NaN,NaN,NaN
3,-1,3,fb:row.row.notes,Notes,notes,note,NNS,O,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,fb:cell.1995,1995,1995,1995,CD,DATE,1995,1995.0,1995-xx-xx,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,29,3,fb:cell.null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,30,0,fb:cell.2013,2013,2013,2013,CD,DATE,2013,2013.0,2013-xx-xx,NaN,NaN,NaN
125,30,1,fb:cell.gutsy_frog,Gutsy Frog,gutsy|frog,gutsy|frog,JJ|NN,O|O,|,NaN,NaN,NaN,NaN,NaN
126,30,2,fb:cell.ms_monica,Ms. Monica,ms.|monica,Ms.|Monica,NNP|NNP,O|PERSON,|,NaN,NaN,NaN,NaN,NaN
127,30,3,fb:cell.television_film,Television film,television|film,television|film,NN|NN,O|O,|,NaN,NaN,NaN,NaN,NaN

In [48]:
pd.read_csv(tagged_path + '/data/training.tagged', sep='\t')

,id,utterance,context,targetValue,tokens,lemmaTokens,posTags,nerTags,nerValues,targetCanon,targetCanonType
0,nt-0,what was the last year where this team was a p...,csv/204-csv/590.csv,2004,what|was|the|last|year|where|this|team|was|a|p...,what|be|the|last|year|where|this|team|be|a|par...,WP|VBD-AUX|DT|JJ|NN|WRB|DT|NN|VBD-AUX|DT|NN|IN...,O|O|DATE|DATE|DATE|O|O|O|O|O|O|O|O|MISC|O|O|O,||PREV_IMMEDIATE P1Y|PREV_IMMEDIATE P1Y|PREV_I...,2004.0,number
1,nt-1,in what city did piotr's last 1st place finish...,csv/204-csv/622.csv,"Bangkok, Thailand",in|what|city|did|piotr|'s|last|1st|place|finis...,in|what|city|do|piotr|'s|last|1st|place|finish...,IN|WDT|NN|VBD-AUX|NNP|POS|JJ|JJ|NN|NN|VB|.,O|O|O|O|PERSON|O|O|ORDINAL|O|O|O|O,|||||||1.0||||,"Bangkok, Thailand",string
2,nt-2,which team won previous to crettyard?,csv/204-csv/772.csv,Wolfe Tones,which|team|won|previous|to|crettyard|?,which|team|win|previous|to|crettyard|?,WDT|NN|VBD|JJ|TO|VB|.,O|O|O|O|O|O|O,||||||,Wolfe Tones,string
3,nt-3,how many more passengers flew to los angeles t...,csv/203-csv/515.csv,"12,467",how|many|more|passengers|flew|to|los|angeles|t...,how|many|more|passenger|fly|to|los|angeles|tha...,WRB|JJ|JJR|NNS|VBD|TO|NNP|NNP|IN|TO|NNP|IN|NNP...,O|O|O|O|O|O|LOCATION|LOCATION|O|O|LOCATION|O|L...,|||||||||||||||2013|,12467.0,number
4,nt-4,who was the opponent in the first game of the ...,csv/204-csv/495.csv,Derby County,who|was|the|opponent|in|the|first|game|of|the|...,who|be|the|opponent|in|the|first|game|of|the|s...,WP|VBD-AUX|DT|NN|IN|DT|JJ|NN|IN|DT|NN|.,O|O|O|O|O|O|ORDINAL|O|O|O|O|O,||||||1.0|||||,Derby County,string
...,...,...,...,...,...,...,...,...,...,...,...
14147,nt-14147,who came in last?,csv/204-csv/433.csv,Javier Díaz,who|came|in|last|?,who|come|in|last|?,WP|VBD|IN|JJ|.,O|O|O|O|O,||||,Javier Díaz,string
14148,nt-14148,which album has the highest number of sales bu...,csv/204-csv/949.csv,Vain elämää,which|album|has|the|highest|number|of|sales|bu...,which|album|have|the|highest|number|of|sale|bu...,WDT|NN|VBD-AUX|DT|JJS|NN|IN|NNS|CC|VBD-AUX|RB|...,O|O|O|O|O|O|O|O|O|O|O|O|O|O|O|O,|||||||||||||||,Vain elämää,string
14149,nt-14149,japan finished below how many countries?,csv/204-csv/183.csv,0,japan|finished|below|how|many|countries|?,japan|finish|below|how|many|country|?,NNP|VBD|IN|WRB|JJ|NNS|.,LOCATION|O|O|O|O|O|O,||||||,0.0,number
14150,nt-14150,how many districts have a population density o...,csv/204-csv/739.csv,31,how|many|districts|have|a|population|density|o...,how|many|district|have|a|population|density|of...,WRB|JJ|NNS|VBD-AUX|DT|NN|NN|IN|IN|IN|CD|.,O|O|O|O|O|O|O|O|O|O|NUMBER|O,||||||||||1000.0|,31.0,number
14151,nt-14151,what entrant has the most drivers?,csv/203-csv/670.csv,Owen Racing Organisation,what|entrant|has|the|most|drivers|?,what|entrant|have|the|most|driver|?,WDT|NN|VBD-AUX|DT|RBS|NNS|.,O|O|O|O|O|O|O,||||||,Owen Racing Organisation,string